<!DOCTYPE html>
<html>
<head>
  <title></title>
  
</head>
<body>
  <% unless cart.line_items.empty? %>
<%= render (cart.line_items) %>
<div style="width:280px;float:left;margin-top:5px;">
  <span style="float: right;border-bottom: 1px solid #000;border-top:1px solid #000;">
    Total Price : <%= number_to_currency(cart.total_price) %>
  </span>
</div>
  <div class="fl">
    <%= button_to "Checkout", new_order_path, :method => :get %>
  </div>
<div style="margin-top:60px">
  <%= button_to 'Empty Cart', cart, :method => :delete, :confirm => 'Are you sure ?' %>
</div>
 
<%= link_to 'Back', store_index_path %>
  <% end %>
</body>
</html>